
RestaurantPOS/.vs/RestaurantPOS/v15/.suo
RestaurantPOS/.vs/RestaurantPOS/v15/Server/sqlite3/db.lock
RestaurantPOS/.vs/RestaurantPOS/v15/Server/sqlite3/storage.ide
RestaurantPOS/.vs/RestaurantPOS/v15/Server/sqlite3/storage.ide-shm
RestaurantPOS/.vs/RestaurantPOS/v15/Server/sqlite3/storage.ide-wal
